/* https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient() */
.body {
    margin: 0;
    width: 100%;
    height: 100vh;
    /* background-color: rgb(219, 104, 84); */
    background: linear-gradient(#f4d2b6, #ec652f);
}
.right {
    float: right;
    position: relative;
    max-height: 550px;
    max-width: 90%;
  }

.homepage_div {
    /* border: 1px solid gray; */
    padding: 80px;

  }
  
.homepage_h1 {
    font-size: 25px;
    text-align: left;
    text-transform: capitalize;
    color: #080a08;
  }
  
.homepage_p {
    font-size: 18px;

    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
  }
  
.homepage_a {
    text-decoration: none;
    color: #008CBA;
  }

/* about image */

.container {
position: relative;
width: 50%;
}

.image {
opacity: 1;
display: block;
width: 50%;
height: auto;
transition: .5s ease;
backface-visibility: hidden;
}

.middle {
transition: .5s ease;
opacity: 0;
position: absolute;
/* top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%) */
}

.container:hover .image {
opacity: 0.3;
}

.container:hover .middle {
opacity: 1;
}

.text {
background-color: #4CAF50;
color: white;
font-size: 16px;
padding: 16px 32px;
}