.siteContainer {
display: flex;
flex-direction: column;
background: linear-gradient(#f4d2b6, #ec652f);
}

.main {
padding: 1em;
background: linear-gradient(#f4d2b6, #ec652f);
width: 100%;
height: 100vh;
overflow-x: hidden;
overflow-y: hidden; 
}

